services:
  postgres:
    restart: always
    image: ankane/pgvector:pg16  # PostgreSQL with pgvector extension preinstalled
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres  # Secure this for production
    networks:
      - pg-net
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  pgadmin4:
    restart: always
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    networks:
      - pg-net
    ports:
      - "5050:80"

networks:
  pg-net:
    driver: bridge

volumes:
  pg_data:
